body {
  padding-top: 50px;
  background-image: url("1.jpg");
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
ul.nav.navbar-nav {
    float: right;
}
.btn-primary{

    background-color: #ff892b;

    color: white;

}

.btn-primaru:hover,

.btn-primary:focus,

.btn-primary:visited{

    background-color: green;

    color: white;

}
/* цвет фона и рамки навигационного меню */
navbar-default {
    background-color: violet;
    border-color: #E7E7E7;
}